@charset "utf-8";
/* CSS Document */
body
{
/*	background-color: slategray;*/
	margin: 0px;
}
#body_page
{
	width: 100%;
	height: 1650px;
	background-color:#FFFFFFl;
	margin: 0px;
}
#header 
{
	float: left;
	width: 100%;
	height: 60px;
	background-color: steelblue;
	color: white;
	
}


.logo img
{
	width: 200px;
	height: 45px;
	float: left;
	margin-left: 450px;
	margin-top: 5px;
	border-radius : 35px;
	
}
.logo:hover img
{
	cursor: pointer;
	filter: invert();
	box-shadow: 2px 2px 15px 2px steelblue;
}

.searchbox
{
	float: left;
	margin-top: 15px;
	margin-left: 50px;
	font-size: 20px;
}
.searchbar
{
	font-size: 22px;
	border-radius: 5px;
	border: 1px outset black;
	width: 400px;
}
.searchbtn
{
	background-color: floralwhite;
	color: black;
	border-radius: 5px;
	font-size: 22px;
	border: thin;
	font-family: 'Gill Sans';
	cursor: pointer;
}
.searchbtn:hover
{
	background-color: lightgray;
	color: black;
}
.login
{
	float: left;
/*	margin-top: 15px;*/
	margin-left: 50px;
	
}
.loginbtn
{
	color: white;
	background-color: steelblue;
    cursor: pointer;
    font-size: 20px;
	border: none;
	padding: 18px;
    font-family: "kreon";
	font-weight: bold;
}
.loginbtn:hover
{
	color: black;
	
}
.dropbtn
{
	margin-left: 50px;
	padding: 18px;
	font-family:"kreon";
	font-weight: bold;
	background-color: steelblue;
  	color: white;
  	font-size: 20px;
	border: none;
}
.dropbtn:hover 
{
	color: black;
	cursor: pointer;
	
}
/*IMPORTANT PROPERTY========================================*/
.dropbtn:hover i
{
	transition: 0.5s;
	transform: rotateX(180deg);
}
.dropdown
{
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration:none;
	font-family: aclonica;
	font-size: 15px;
	font-weight: bold;
  display: block;

}
.dropdown:hover .dropdown-content{display: block;}

.dropdown-content a:hover {background-color: lightgrey;}

.cart
{
	float: right;
	padding: 18px;
	margin-right: 300px;
	font-family: kreon;
	font-weight: bold;
	font-size: 20px;

/*	color: black;*/
}

.cart:hover
{
	color: black;
	cursor: pointer;
}

/*Footer Properties=============================================*/
#footer 
{
	float: left;
	width: 100%;
	height: 300px;
	background-color: #1F1F1F;
	color: #6A6A5E;
	margin-top : 10px;
}
.about
{
	float: left;
	width: 300px;
	margin-left: 70px;
}
.help,.policy,.social
{
	float: left;
	width: 300px;
/*	border: 2px solid black;*/
}
.blnk
{
	width: 10px;
	height: 150px;
	margin-top: 35px;
	border-right: 1px solid grey;
	float: left;
	
}
.head_txt
{
	color: #908F83;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.sub_txt,.address
{
	color: #626155;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.sub_txt:hover
{
	text-decoration: none;
	cursor: pointer;
	color: #C4C0AD;
}

.mail_us
{
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	
}